@import '~antd/dist/antd.css';

.login {
    background: none;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    .login_box {
        width: 24rem;
        height: fit-content;
        padding: 1rem;
        border: 1px solid #a6a6a6;
        border-radius: 10px;

        .login-form-forgot {
            float: right;
        }
    }
}