.site_box {
    height: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;

    .site_box_item {
        margin: 1rem;
        width: 200px;
        height: 200px;
        border-radius: 8px;
        background-color: #a6a6a6;
        opacity: 0.6;
        text-align: center;
        line-height: 200px;

        a {
            display: block;
            height: 100%;
            cursor: pointer;
            color: #fff;
        }
    }
}
