.home-page {
    height: inherit;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;

    .ant-layout {
        height: 100%;
        background-color: #222A42;
        color: #fff;

        .ant-layout-header {
            background-color: #1D223A;
        }

        .ant-layout-sider {
            background-color: #1D223A;
        }
    }

    .box {
        width: 600px;
    }
}