.home-page {
    height: 100%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;

    .ant-layout {
        height: 100%;
        background-color: #222A42;
        color: #fff;

        .ant-layout-header {
            background-color: #1D223A;
        }

        .ant-layout-sider {
            background-color: #1D223A;

            .btn_box {
                width: 100%;
                padding: 15px;
            }

            .ant-tree {
                color: #fff;
                opacity: 0.8;

                .ant-tree-title {
                    color: #fff;
                    opacity: 0.8;
                }

                .anticon {
                    color: #fff;
                    opacity: 0.8;
                }
            }
        }
    }
}